<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Cartas Seguras </title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="w-screen min-h-screen flex flex-col items-center justify-center  bg-[#2B324E]">
        
        <h1 class=" text-2xl text-[#F7B176] pt-8 pb-4">Sistema Carta Segura</h1>
        
        <div class="mb-[2rem] bg-[#424769] w-[22rem] min-h-[20rem] rounded-2xl flex flex-col items-center p-[2rem]">    
            <div>
                <% for(const letter of letters) {%>
                    <form action="see" class="letter  border border-white my-2 mx-2 px-2 rounded-lg"  >
                        <div class="subject-box ">
                            <p class="text-white"> <%= letter.subject %></p>
                        </div>
                        <div class="password-box flex items-center" >
                            <input name="password" type="text" placeholder="  Chave" class="border-l-4 border-[#F7B176] rounded-sm w-[14rem]">
                            <button class="ml-4 my-2 w-16 bg-[#F7B176] rounded-2xl">Ver</button>
                        </div>
                        <input name="id" type="hidden" value="<%= letter.id %>">
                    </form>
                <% } %>
            </div>
            <a href="write" class="my-8 px-2 py-2 bg-[#F7B176] rounded-2xl"> Escrever uma carta </a>
        </div>
    </body>
</html>