<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Carta segura </title>
    </head>
    <body>
        <div class="letter">
            <div class="subject-box">
                <p> <%= letter.subject %></p>
            </div>
            <div class="content">
                <%= letter.content %>
            </div>
        </div>
        <a href="/"><button>Voltar</button></a>
    </body>
</html>